
HelloGithub.xcodeproj/xcuserdata/anak.xcuserdatad/xcschemes/xcschememanagement.plist

HelloGithub.xcodeproj/xcuserdata/anak.xcuserdatad/xcschemes/HelloGithub.xcscheme

HelloGithub.xcodeproj/project.xcworkspace/xcuserdata/anak.xcuserdatad/UserInterfaceState.xcuserstate
